@import '../../basic.scss';

.Collection {
  padding: 32px;
  height: 100%;
  line-height: 1.5;

  &-button {
    cursor: pointer;
    user-select: none;
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    &-refreshing-bali-2020 {
      background: $refreshing-bali-2020-button;
      color: white;
  
      &:hover {
        background-color: $refreshing-bali-2020-button-hover;
      }
    }
  
    &-luxury-bali-2019 {
      background: $luxury-bali-2019;
      
      background: $luxury-bali-2019-button;
      color: white;

      &:hover {
        background-color: $luxury-bali-2019-button-hover;
      }
    }
  
    &-spring-japan-2018 {
      background: $spring-japan-2018;
  
      background: $spring-japan-2018-button;
      color: white;

      &:hover {
        background-color: $spring-japan-2018-button-hover;
      }
    }
  
    &-explore-singapore-2018 {
      background: $explore-singapore-2018;
      
      background: $explore-singapore-2018-button;
      color: white;

      &:hover {
        background-color: $explore-singapore-2018-button-hover;
      }
    }
  }

  &-home {
    margin-bottom: 10px;
    text-align: left;
  }

  &-top {
    margin-top: 20px;
  }

  &-theme {
    &-refreshing-bali-2020 {
      background: $refreshing-bali-2020;
    }
  
    &-luxury-bali-2019 {
      background: $luxury-bali-2019;
    }
  
    &-spring-japan-2018 {
      background: $spring-japan-2018;
    }
  
    &-explore-singapore-2018 {
      background: $explore-singapore-2018;
    }
  }
}

@media (max-width: $pc-width) {
  .Collection {
    margin: 0 auto;
    text-align: center;
  }
}