@use 'sass:map';

$colors: (
  refreshing-bali-2020: (
    base: #d1e4e2, // need to be in sync with utils/const.ts
    button: #d2691e,
    button-hover: #8b4513
  ),
  luxury-bali-2019: (
    base: #f5f5dc, // need to be in sync with utils/const.ts
    button: #6b8e23,
    button-hover: #556b2f
  ),
  spring-japan-2018: (
    base: #ffd7e8, // need to be in sync with utils/const.ts
    button: #c2185b,
    button-hover: #a3154a
  ),
  ora-beach-2018: (
    base: #ffd1b3, // need to be in sync with utils/const.ts
    base2: #a0d8ef,
    button: #4a90e2,
    button-hover: #ff8666
  ),
  explore-singapore-2018: (
    base: #f0f0f0, // need to be in sync with utils/const.ts
    button: #32cd32,
    button-hover: #228b22
  )
);

.Theme {
  @each $theme-name, $theme-values in $colors {
    &-#{$theme-name} {
      background: map.get($theme-values, base);
      background: linear-gradient(to bottom, map.get($theme-values, base), map.get($theme-values, base2));

      &-button {
        background: map.get($theme-values, button);
        color: white;
        transition: background-color 0.125s, transform 0.125s;

        &:hover {
          background-color: map.get($theme-values, button-hover);
          transform: scale(1.05);
        }
      }
    }
  }
}