$light-blue-0: #d7f5fc;
$light-blue-1: #c5edf8;
$dark-blue-0: #031d53;
$dark-blue-1: #091349;
$dark-blue-2: #01147b;

$text-dark-blue: #2c4aa1;

$header-height: 90px;
$header-padding: 5px;
$footer-height: 145px;

$pc-width: 768px;

// refreshing-bali-2020
$refreshing-bali-2020: #d1e4e2;
$refreshing-bali-2020-button: #d2691e;
$refreshing-bali-2020-button-hover: #8b4513;

// luxury-bali-2019
$luxury-bali-2019: #f5f5dc;
$luxury-bali-2019-button: #6b8e23;
$luxury-bali-2019-button-hover: #556b2f;

// spring-japan-2018
$spring-japan-2018: #ffd7e8;
$spring-japan-2018-button: #c2185b;
$spring-japan-2018-button-hover: #a3154a;

// explore-singapore-2018
$explore-singapore-2018: #f0f0f0;
$explore-singapore-2018-button: #32cd32;
$explore-singapore-2018-button-hover: #228b22;
